.mat-step-header .mat-step-label.mat-step-label-active {
    color: hsla(0,0%,100%,1);
}
.mat-step-header .mat-step-label {
    color: #ffffff;
}
.mat-step-label {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0 0.0625rem!important;
}
.mat-step-label-selected {
    font-size: 1rem;
    font-weight: 500;
}
.group-name[_ngcontent-ihw-c199] {
    max-width: 70%;
    display: none;
    align-items: center;
}
.uwy .uai img:not(.check_on), body .uwy .uai img:not(.check_on) {
    height: 40px;
    width: 40px;
    display: block;
    padding: 0!important;
    margin: 0!important;
    background: 0 0!important;
    border: none!important;
    opacity: 1!important;
    visibility: hidden;
}
