.mat-step-header .mat-step-label.mat-step-label-active {
    color: hsla(0,0%,100%,1);
}
.mat-step-header .mat-step-label {
    color: #ffffff;
}
.mat-step-label {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0 0.0625rem!important;
}
.mat-step-label-selected {
    font-size: 1rem;
    font-weight: 500;
}
.group-name[_ngcontent-dhx-c199] h1[_ngcontent-dhx-c199] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
    font-size: 1.25rem;
    line-height: calc(2.25rem*var(--lineHeightFactor));
    font-weight: 400;
    color: #fff;
    margin: 0;
}
